{%  load static %}
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" type="text/css" href="{% static 'equeue/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    </head>
    <body>
        {%  block content %}
            replace me
        {%  endblock %}
    </body>
</html>